* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 0;
        /* SÓ COLOCAR QUANDO COLOCAR COR NO HEADER */
    margin: 0;
        /* SÓ COLOCAR QUANDO COLOCAR COR NO HEADER */
        /*background-color: red;*/
        background-color: #ecf0f1;
}

.titulo h1{
    margin: 0;
    padding: 0;    
}

.container h1{
    margin-top: 30px;
}

.barra{
    width: 90%;
    height: 2px;
    background-color: black;
    margin-bottom: 10px;
}


.evento h3{
    font-size: 30px;
    margin-top: 50px;
}

.evento1{
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}

.img-eventoS{
    width: 320px;
    height: 320px;
}

.img-angela{
    width: 320px;
    height: 480px;
}

.img-angela2{
    width: 320px;
    height: 240px;
    float: right;
}

.img-campanha{
    width: 300px;
    height: 500px;
}

.img-eventoN{
    width: 230px;
    height: 280px;
}

.img-eventoNA{
    width: 465px;
    height: 350px;
}

