* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 0;
        /* SÓ COLOCAR QUANDO COLOCAR COR NO HEADER */
    margin: 0;
        /* SÓ COLOCAR QUANDO COLOCAR COR NO HEADER */
        /*background-color: red;*/
        background-color: #ecf0f1;
}

.headerpos{
    width: 100%;
    height: 170px;
    background-color: black;
}

.headerpos h1{
    font-size: 40px;
    color: white;
    padding-left: 60px;
    padding-top: 60px;
    float: left;

}

.sair{
    font-size: 30px;
    padding-right: 40px;
    color: white;
    float: right;
    padding-top: 60px;
}

.barra{
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 10px;
    padding-left: 40px;
}

.nomeOla{
    padding-top: 40px;
    padding-left: 60px;
    padding-bottom: 40px;
}

.grafico{
    width: 100%;
    height: 600px;
}

.container-pos h1{
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.container-pos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 35%;
    height: 650px;
    background-color: #ecf0f1;
}

.poslogin{
    width: 100%;
    height: 100%;
    background-color: #ecf0f1;
}
.conteudo-poslogin{
    width: 45%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
}



.formulario{
    width: 100%;
    background-color: #ecf0f1;
}

.formulario h1{
    font-size: 45px;
}


.input_doador{
    width: 100%;
    height: 40px;
}


.input_doacao{
    width: 100%;
    height: 40px;
}

.select_class{
    width: 200px;
    height: 40px;
}


.button-contato-volu{
    width: 250px;
    height: 50px;
    font-size: 17px;
    background-color: black;
    color: white;
    border-bottom: none;
    cursor: pointer;
}

.poslogin{
    width: 50%;
}

.conteudo{
    width: 100%;
    height: 850px;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-login{
    width: 100%;
    height:80px;
    background-color: black;
    padding-top: 20px;
}